.section {
  width: 1200px;
  margin: 0 auto;
}

#header {
  height: 135px;
  color: #730400;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;

    li {
      padding-right: 10px;
      & + li {
        border-left: 1px solid #730400;
        padding-left: 10px;
      }
    }
  }
}

#nav {
  background-color: #730400;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  ul {
    display: flex;
    justify-content: space-between;
    li {
      padding: 30px 0;
    }
  }
}

#banner {
  ul {
    li {
      img {
        width: 100%;
      }
    }
  }
}

#article {
  .article_title {
    font-size: 36px;
    color: #730400;
    margin-bottom: 50px;
  }

  .article_content {
    border: 1px solid #730400;
    position: relative;
    height: 500px;

    &.__1 {
      p {
        display: none;
        span {
          position: absolute;
          color: #730400;
          left: 166px;

          &:nth-child(1) {
            font-size: 30px;
            top: 104px;
          }

          &:nth-child(2) {
            font-size: 18px;
            top: 208px;
            line-height: 36px;
          }
        }

        &:nth-child(1) {
          background: url("image/new1.png") no-repeat;
        }

        &:nth-child(2) {
          background: url("image/new2.png") no-repeat;
        }

        &:nth-child(3) {
          background: url("image/new3.png") no-repeat;
        }

        &.on {
          display: block;
        }
      }
    }

    &.__2 {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      p {
        text-align: center;

        img {
          border: 1px solid #730400;
          border-radius: 50%;
          margin-bottom: 20px;
        }
        span {
          display: inline-block;
          // width: 150px;
          height: 45px;
          background-color: #730400;
          border-radius: 10px;
          color: #fff;
          text-align: center;
          line-height: 45px;
          font-size: 18px;
          padding: 5px 10px;
        }
      }
    }

    &.__3 {
      border: none;
      height: 1030px;

      img {
        width: 300px;
        height: 300px;
        position: absolute;

        &:nth-child(1) {
          top: 500px;
        }
        &:nth-child(2) {
          left: 300px;
        }
        &:nth-child(3) {
          top: 300px;
          left: 300px;
        }
        &:nth-child(4) {
          top: 600px;
          left: 300px;
        }
        &:nth-child(5) {
          top: 150px;
          left: 600px;
        }
        &:nth-child(6) {
          top: 450px;
          left: 600px;
        }
        &:nth-child(7) {
          top: 300px;
          left: 900px;
        }
      }
    }
  }

  & + #article {
    margin-top: 87px;
  }
}

#footer {
  background-color: #462318;

  .section {
    color: #fff;

    .footer_top {
      span {
        font-size: 24px;
        display: inline-block;
        margin: 40px 0;

        & + span {
          padding-left: 5px;
          border-left: 1px solid #fff;
          margin-left: 5px;
        }
      }
      border-bottom: 1px solid #fff;
    }

    .footer_bottom {
      padding: 35px 0 100px;
      font-size: 20px;
      line-height: 30px;
      display: flex;
      justify-content: space-between;

      img {
        display: block;
        width: 180px;
        height: 180px;
      }
    }
  }
}
